<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Online library</title>
</head>
<body>
<div class="wrapper">
    <div class="hi">
        <div class="container">
            <div class="hi__row">
                <div class="hi__body">
                    <div class="hi_title">Создайте книгу</div>
                    <a href="/home" class="vertical__btm">Назад</a>
                </div>
            </div>
        </div>
    </div>
    <div class="what">
        <div class="container">
            <div class="what__row">
                <div class="what__form">
                    <form action="/authors/add"
                          th:object="${author}" method="POST">
                        Name:
                        <input type="text" required name="name" th:value="*{name}" />

                        Surname:
                        <input type="text" required name="surname" th:value="*{surname}" />

                        <input type="hidden" name="id" th:value="*{id}" />
                        <input type="submit" value="Create" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__row">
                <div class="footer__text">
                    Алексей Верезубов 2022
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>