<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>FLEXBOX</title>
</head>

<body>
<div class="wrapper">
    <div class="content">
        <div class="hi">
            <div class="container">
                <div class="hi__row">
                    <div class="hi__body">
                        <div class="hi_title">Привет, друг!</div>
                        <ui class="hi__list">
                            <li>Я уже рад , что ты увидишь мою работу!</li>
                            <li>Помни я ещё учусь и это небольшой тестовый проект онлайн-библиотеки</li>
                            <li>Спасибо тебе за поддержку!</li>
                        </ui>
                    </div>
                    <div class="hi__image">
                        <img src="/img/pDSC_3827%20маленькая.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="what">
            <div class="container">
                <div class="what__row">
                    <div class="what__image">
                        <img src="/img/book.jfif" alt="">
                    </div>
                    <div class="what__body">
                        <div class="what__title title">
                            Что такое книга?
                        </div>
                        <div class="what__text">
                            <p>
                                Сознательная жизнь человека начинается со знакомства его с книгой. Первые книги детям
                                покупают и читают родители. Рассматривая страницы с персонажами детских сказок, изучая
                                алфавит и понемногу начиная читать самостоятельно, ребенок попадает в удивительный мир,
                                где оживают его самые смелые и необычные фантазии. Так было 100 и 200 лет назад, так
                                происходит и в наши дни. Несмотря на развитие технического и научного прогресса, книга
                                была и останется источником знаний о жизни, себе, окружающих людях, прошлом, настоящем
                                и даже будущем.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical">
            <div class="container">
                <div class="vertical__body">
                    <div class="vertical__row">
                        <div class="vertical_column">
                            <a href="/authors" class="vertical__btm">список авторов</a>
                        </div>
                        <div class="vertical_column">
                            <a href="/books" class="vertical__btm">список книг</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="footer__row">
                        <div class="footer__text">
                            Алексей Верезубов 2022
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
  </body>
</html>